<div id="otherContainer">
    <div id="loginPanel" class="hide"></div>
    <div id="userPanel" class="hide"></div>
    <div id="yellPanel" class="hide"></div>
    <div id="yellsPanel" class="hide"></div>
    <div id="tagsPanel" class="hide"></div>
</div>