<div class="row">
    {{#panel class="medium-6 small-12 small-centered columns"}}
        <div class="row collapse">
            <div class="small-10 columns">
                <input type="text" placeholder="query" id="contentQuery" class="input-button">
            </div>
            <div class="small-2 columns">
                <a href="#" class="button postfix">{{i "editor.goBtn"}}</a>
            </div>
        </div>
    {{/panel}}

    <div id="newContentPanel" class="edit-overlay">
        <div class="row">
            <div id="editorPanel" class="large-6 medium-8 small-12 small-centered columns">
                <input type="text" name="content-title" placeholder="title" class="form-control"/>
                <textarea id="content-editor" cols="80" rows="10"></textarea>

                <div class="row">
                    <div class="small-12 columns right">
                        <a href="#" data-dropdown="drop1" class="button tiny round dropdown">{{i "editor.actionsBtn"}}</a><br>
                        <ul id="drop1" data-dropdown-content class="f-dropdown">
                            <li><a id="editorSaveBtn">{{i "editor.saveBtn"}}</a></li>
                            <li><a id="editorDraftBtn">{{i "editor.draftBtn"}}</a></li>
                            <li><a id="editorCancelBtn">{{i "editor.cancelBtn"}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>