<div id="menu">
    {{#if user._id}}
        <ul class="button-group round">
            <li><a href="/#home" class="button tiny success logo-link">{{{i "menu.loginWithLabel"}}}</a></li>
            <li><a class="button tiny" id="openUserProfile" href="/#user"><i class="fa fa-user"></i></a></li>
            <li><a class="button tiny" id="openSearch" href="#"><i class="fa fa-search"></i></a></li>
            <li><a class="button tiny" href="#" id="doFindMe" title="find me"><i class="fa fa-map-marker"></i></a></li>
            <li><a class="button tiny" id="logoutBtn" href="#"><i class="fa fa-sign-out"></i></a></li>
        </ul>
    {{else}}
        <ul class="button-group round">
            <li><a href="/#home" class="button tiny success logo-link">{{{i "menu.loginWithLabel"}}}</a></li>         
            <li><a class="button tiny" id="loginBtn" href="/#login"><i class="fa fa-user"></i></a></li>
            <li><a class="button tiny" href="#" id="doFindMe" title="find me"><i class="fa fa-map-marker"></i></a></li>
        </ul>
    {{/if}}
</div>

<div id="googleSearchInput">
    <input id="searchBox" class="controls" type="text" placeholder="Search Box">
</div>