@import 'partials/tools';
@import 'partials/prefs';
@import 'partials/footer';
@import 'partials/profile';
@import 'partials/login';
@import 'partials/search';
@import 'partials/maps';
@import 'partials/menu';
@import 'partials/yell';
@import 'partials/mapsSearch';

// allways the last
@import 'partials/overrides';

body {
  background: #f5f5f5;
}

.container {
  //width: 100% !important;
  //padding: 0 !important;
  //margin-top: -1px;
}

.app-panel {
  padding: 0;
  border-radius: 5px;

  @extend .shadow;

  div.panel-title {
    border-bottom: 4px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;


    color: #919191;
    font-size: 20px;
    text-shadow: 1px 1px 1px #fff;
  }

  div.panel-close {
    text-align: right;
    margin: -15px -15px 0 0;
    float: right;

    span#close {
      cursor: hand;
      color: #F75050;
      text-shadow: 1px 1px 1px #777;
      font-size: 30px;
    }
  }

  div.panel-content {
    padding: 20px;
    margin: 0px;
    border-radius: inherit;

    background: rgba(255, 255, 255, 0.6);

    @extend .shadow-inset;
  }
}

div.panel-left-close {
  float: left;

  span#close {
    cursor: hand;
    color: #F75050;
    text-shadow: 1px 1px 1px #777;
    font-size: 30px;
  }
}

#content {
  z-index: 0;
  padding: 0;
  margin: 50px auto;
  line-height: normal;
  max-width: 1000px;
  overflow-x: hidden;
}

.userBtn.navbar-toggle {
  color: #aaa;
}

.popover {
  //@extend .background-gradient;

  ul {
    list-style: none;

    li {
      margin-left: -30px;

      a {
        text-decoration: none;
      }
    }
  }
}

/* Login View */
.actions-login {
    text-align: center;
}

.title {
  a, a:hover, a:visited, small {
    color: #fff;
  }
}

.required:after {
  content: ' *';
  color: #b92c28;
  font-weight: bold;
}

#otherContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 50px;
  width: 100%;
  z-index: 1;
}