<div class="row">
    {{#panel class="large-4 medium-6 small-12 columns"}}
        <div class="row">
            <div class="small-12 columns panel-close">
                <span class="fa fa-times" id="close"></span>
            </div>
        </div>
        <form id="createUserForm">
            <div class="row">
                <div class="small-12 columns">
                    <label for="username" class="required">{{i "newUser.userLabel"}}:</label>
                    <input placeholder="{{i "newUser.userLabel"}}" type="text" name="email" id="email" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label for="password" class="required">{{i "newUser.passwordLabel"}}:</label>
                    <input placeholder="{{i "newUser.passwordLabel"}}" type="password" name="password" id="password" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label for="password2" class="required">{{i "newUser.password2Label"}}:</label>
                    <input placeholder="{{i "newUser.password2Label"}}" type="password" name="password2" id="password2" class="form-control"/>
                </div>
            </div>
            <div class="row buttons">
                <div class="small-12 columns">
                    <a class="small-12 button tiny radius secondary" href="#" id="createUserBtn">{{i "newUser.createBtn"}}</a>
                </div>
            </div>
        </form>
    {{/panel}}
</div>