<div class="top-bar-content">
    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small hide-for-large">
                    <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                </section>

                <section class="right tab-bar-section">
                    <h1 class="title"><a href="/">TalkLoud <small>DISCUSSION MATTERS</small></a></h1>
                </section>

                <section class="top-bar-section hide-for-medium hide-for-small">
                    <ul class="right">
                        <li class="divider"></li>
                        <li class="active"><a id="home" href="#/home">{{i "home.homeLnk"}}</a></li>
                        <li class="divider"></li>
                        <li class=""><a id="broker" href="#/players">{{i "home.playersLnk"}}</a></li>
                        {{#if user._id}}
                            <li class="divider"></li>
                            <li class=""><a id="broker" href="#/broker">{{i "home.brokerLnk"}}</a></li>
                        {{/if}}

                        {{#unless user._id}}
                            <li class="divider"></li>
                            <li><a href="#/login">{{i "home.loginLnk"}}</a></li>
                        {{else}}
                            <li class="divider"></li>
                            <li><a href="#/profile">{{i "home.userProfileLnk"}}</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="logoutBtn">{{i "home.logoutLnk"}} <span class="fa fa-sign-out"></span></a></li>
                        {{/unless}}
                    </ul>
                </section>
            </nav>

            <aside class="left-off-canvas-menu hide-for-large">
                <ul class="off-canvas-list">
                    <li><label>Player SE</label></li>
                    <li class="active"><a id="home" href="#/home">{{i "home.homeLnk"}}</a></li>
                    <li class=""><a id="broker" href="#/players">{{i "home.playersLnk"}}</a></li>
                    {{#if user._id}}
                        <li><a id="broker" href="#/broker">{{i "home.brokerLnk"}}</a></li>
                    {{/if}}

                    <li><label>User Options</label></li>

                    {{#unless user._id}}
                        <li><a href="#/login">{{i "home.loginLnk"}}</a></li>
                    {{else}}
                        <li><a href="#/profile">{{i "home.userProfileLnk"}}</a></li>
                        <li><a href="#" class="logoutBtn">{{i "home.logoutLnk"}} <span class="fa fa-sign-out"></span></a></li>
                    {{/unless}}
                </ul>
            </aside>

            <section class="main-section">
                <div id="content">
                    {{> editor}}
                </div>

                <div id="footer">
                    <div class="row">
                        <div class="small-9 small-centered columns">
                            <div class="row">
                                <div class="section small-4 columns center">
                                    <h4></h4>
                                </div>
                                <div class="section small-4 columns center">
                                    <h4></h4>
                                </div>
                                <div class="section small-4 columns center">
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <a class="exit-off-canvas"></a>
        </div>
    </div>
</div>