<div class="row">
    {{#panel class="large-4 large-offset-4 medium-6 medium-offset-3 small-12 columns"}}
        <form id="loginForm">
            <div class="row">
                <div class="small-12 columns">
                    <label for="email" class="required">{{i "login.userLabel"}}:</label>
                    <input placeholder="{{i "login_userLabel"}}" type="email" name="email" id="email" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label for="password" class="required">{{i "login.passwordLabel"}}:</label>
                    <input placeholder="{{i "login_passwordLabel"}}" type="password" name="password" id="password" class="form-control"/>
                </div>
            </div>
            <div class="row buttons">
                <div class="small-12 columns">
                    <a class="button tiny radius" href="#" id="loginBtn">{{i "login.loginBtn"}}</a>
                </div>
            </div>
            <div class="row buttons">
                <div class="small-12 columns">
                    <a class="button secondary tiny radius" id="createUserBtn" href="#">{{i "login.newUserLnk"}}</a>
                </div>
            </div>
            <div class="row buttons">
                <div class="small-8 small-centered columns border-top">
                    <a href="#" id="fbLoginBtn" class=""><span class="login-button facebook-sprite"></span></a>
                    <a href="#" id="twLoginBtn" class="disabled"><span class="login-button twitter-sprite"></span></a>
                    <a href="#" id="ggLoginBtn" class=""><span class="login-button google-sprite"></span></a>
                </div>
            </div>
            <div class="row forgot-div">
                <div class="small-12 center columns">
                    <a href="#/reset-password">{{i "login.forgotPasswordLnk"}}</a><br/>
                </div>
            </div>
        </form>
    {{/panel}}
 </div>