<div class="medium-4 hide-for-small columns center users-icon">
    <span class="fa fa-users"></span>
</div>
{{#panel class="large-4 medium-6 columns login-panel"}}
    <form id="rememberPasswordForm">
        <div class="row">
            <div class="small-12 columns">
                <label for="username" class="required">{{i "password.userLabel"}}:</label>
                <input placeholder="{{i "password.userLabel"}}" type="text" name="email" id="email" class="form-control"/>
            </div>
        </div>
        <div class="row buttons">
            <div class="small-12 columns">
                <a class="small-12 button tiny radius secondary" href="#" id="resetBtn">{{i "password.resetBtn"}}</a>
            </div>
        </div>
    </form>
{{/panel}}
<div class="large-4 medium-2 columns"></div>