<div class="row" id="tagsPanel">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns panel-left-close">
                <span class="fa fa-times" id="close"></span>
            </div>
        </div>
        <canvas id="tagsCloud">
            <p>Anything in here will be replaced on browsers that support the canvas element</p>
            <ul class="weighted" style="font-size: 50%" id="weightTags">

            </ul>
        </canvas>
    </div>
</div>

<script type="text/javascript">
    $('#tagsCloud').attr('width', $('#tagsPanel').width());
    $('#tagsCloud').attr('height', window.screen.height * 0.8);
</script>