<div class="row">
    {{#panel class="small-12 columns"}}
        <div class="row head-row">
            <div class="small-12 medium-3 columns center">
                <img src="{{image}}" alt="Gravatar Image" class="gravatar th radius"/>
                <div class="row hide-for-small-only">
                    <div class="small-12 columns">
                        <span class="label radius">{{imageSource}}</span>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-9 columns">
                <form id="userProfileForm">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="row">
                                <div class="medium-3 columns">
                                    <label class="required">{{i "profile.firstNameLabel"}}:</label>
                                    <input type="text" name="firstName" id="firstName" placeholder="{{i "profile.firstNameLabel"}}" value="{{user.firstName}}">
                                </div>
                                <div class="medium-3 columns">
                                    <label for="lastName" class="control-label">{{i "profile.lastNameLabel"}}:</label>
                                    <input type="text" class="form-control input-sm" name="lastName" id="lastName" placeholder="{{i "profile.lastNameLabel"}}" value="{{user.lastName}}">
                                </div>
                                <div class="medium-6 columns"></div>
                            </div>

                            <div class="row">
                                <div class="medium-8 columns">
                                    <label for="email" class="control-label">{{i "profile.emailLabel"}}:</label>
                                    <div class="row collapse">
                                        <div class="small-2 columns">
                                            <span class="prefix radius">@</span>
                                        </div>
                                        <div class="small-10 columns">
                                            <input disabled type="email" class="form-control input-sm" name="email" id="email" placeholder="{{i "profile.emailLabel"}}" value="{{user.email}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="medium-4 columns"></div>
                            </div>

                            <div id="passwordPanel" class="row">
                                <div class="medium-3 columns">
                                    <label for="password" class="control-label">{{i "profile.passwordLabel"}}:</label>
                                    <input type="password" class="form-control input-sm" name="password" id="password" placeholder="{{i "profile.passwordLabel"}}" value="{{user.password}}">
                                </div>
                                <div class="medium-3 columns">
                                    <label for="password2" class="control-label">{{i "profile.retypePasswordLabel"}}:</label>
                                    <input type="password" class="form-control input-sm" name="password2" id="password2" placeholder="{{i "profile.retypePasswordLabel"}}" value="{{user.password2}}">
                                </div>
                                <div class="medium-6 columns"></div>
                            </div>

                            <!--div class="row">
                                <div class="hide-for-small-only medium-12 columns">
                                    <div class="info-label label round secondary">
                                        <span class="info-label-title">{{i "profile.fetchTokenLabel"}}:&nbsp;</span>
                                        <span>{{!--user.fetchToken--}}</span>
                                    </div>
                                </div>
                            </div-->

                            <div class="row border-top">
                                <div class="small-12 medium-6 columns">
                                    <button id="saveBtn" class="button tiny radius">{{i "profile.saveBtn"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/panel}}
</div>