{{#yellPanel}}
    <div class="row">
        <div class="small-12 columns yell-name-panel">
            @{{writer.lastName}}, {{writer.firstName}}
        </div>
    </div>
    <div class="row">
        <div class="yell-picture-panel">
            <img class="th radius yell-user-picture" src="{{photo}}" alt=""/>
        </div>
        <div class="small-12 columns yell-text-panel">
            {{{yell}}}
        </div>
    </div>
    <div class="yell-date-panel">
        <span class="yell-date-span" title="{{created}}"></span>
    </div>    
    <div class="row collapse yell-control-panel hide">
        <div class="small-12 columns">
            <div class="row collapse">
                <div class="small-12 columns yell-tags-panel">
                    {{{tags}}}
                </div>
            </div>

            <div class="row collapse">
                <div class="small-12 columns">
                    <div class="row collapse">
                        <div class="small-12 columns yell-map-container">
                            <img class="yell-map-image th" src=""/>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/yellPanel}}