{{#if user._id}}
    <div class="row" id="yell-send">
        {{#panel class="large-4 large-offset-4 medium-6 medium-offset-3 small-12 columns"}}
            <div class="">
                <div class="yell-content">
                    <textarea id="yell-data" placeholder="{{i "yell.dataLabel"}}"></textarea>
                    <span id="yellCounter">{{i "yell.counterLabel"}} <span id="yellSize">{{maxSize}}</span></span>
                </div>

                <div id="yellTagPanel">
                    <div id="yellTagList"></div>
                </div>
                
                <div id="yellMarkers">
                    <img data-marker="food" src="/images/markers/food.png"/>
                    <img data-marker="shopping" src="/images/markers/shopping.png"/>
                    <img data-marker="sports" src="/images/markers/sports.png"/>
                    <img data-marker="education" src="/images/markers/education.png"/>
                    <img data-marker="automotive" src="/images/markers/automotive.png"/>
                </div>

                <div id="yellButtons">
                    <button id="doYell" class="button tiny round success">{{i "yell.doYellBtn"}}</button>
                </div>
            </div>
        {{/panel}}
    </div>
{{/if}}

<div id="yellsSection"></div>