<div class="" id="yellsPanel">
    <div class="">
        <div class="row">
            <div class="small-12 columns yells-filter">

            </div>
        </div>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="yellsList">
            
        </ul>
    </div>
</div>

<div class="row yells-loading">
    <div class="small-12 large-4 large-offset-4 medium-6 medium-offset-3 columns">
        <div>
            <img src="/images/loading3.gif"/>
        </div>
    </div>
</div>