.edit-overlay {
  display: none; /* ensures it’s invisible until it’s called */
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 0; /* positions the div half way horizontally */
  top: 0; /* positions the div half way vertically */
  padding-top: 10%;
  background-color: rgba(33, 49, 63, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */

  #editorPanel {
    box-shadow: 1px 1px 10px #ccc;
    padding: 10px;
    border-radius: 5px;
  }

  input[type="content-title"] {

  }

  [data-dropdown] {
    margin: 10px 0 0 0 !important;
  }
}

.f-dropdown {
  text-align: left !important;
}