#footer {
  background: #333;
  color: #fff !important;
  padding: 20px 0 20px 0;

  .section {
    padding: 0 5px 5px 0;
    border-right: 1px solid #fff;

    h4, span, a, a:hover, a:visited {
      color: #fff;
    }
  }

  .section:last-child {
    border-right: 0;
  }
}