@import 'tools';

.login-button {
  background: url('../../images/sprite_48.png') no-repeat;
  margin-bottom: 0px;
  display: inline-block;

  &.twitter-sprite {
    background-position: 0 0;
    width: 48px;
    height: 48px;
  }

  &.google-sprite {
    background-position: -104px 0;
    width: 48px;
    height: 48px;
  }

  &.facebook-sprite {
    background-position: -45px 0;
    width: 48px;
    height: 48px;
  }
}

.users-icon {
  margin: 50px auto;
  color:#eee;
  font-size:150px;
}

.users-icon-watter-mark {

}

#loginForm, #createUserForm, #rememberPasswordForm {
  a.button {
    @extend .app-button;

    margin: 0;
  }

  a.button.secondary {
    background-color: #F5BE6C;
    color: #fff;
  }

  div.buttons {
    @extend .center;

    margin-top: 2px;
    padding: 0 15px 0 15px;

    .columns {
      padding-right: 2;
      padding-left: 2;
    }
  }

  div.buttons:first-child {
    margin-top: 15px;
  }

  div.forgot-div {
    margin-top: 10px;
  }
}