#menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;

  dl.tabs {

    dd {
      position: relative;

      a {
        background: #B6C5FF;
        color: #fff;
        margin-right: 1px !important;
        margin-bottom: 2px !important;

        padding: 10px;
        width: 35px;
      }
    }
  }

  ul.button-group {
    a.logo-link {
        height: 34px !important;
    }
  }
}