.row {
  max-width: 2000px;
  padding: 5px;

  .collapse {
    padding: 0;
  }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  margin: 0;

  &.input-button {
    @extend .shadow-button;
  }
}

form {
  label {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    color: #000;
  }
}

.button {
  margin: 0 0 5px 0 !important;
  font-size: 13px !important;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold !important;

  @extend .shadow-button;
}

hr {
  margin: 5px 0;
}

span {
    &.css-emoticon {
        font-size: medium;
        
        &.spaced-emoticon {
            padding-left: 0.1em;
        }
    }
}