@mixin yell-margin() {
  margin: 10px 0;
}

#yell-send {

  .panel-content {
      margin: 20px 10px 5px;
      padding: 0;
  }
    
  #yell-data {
    resize: none;
    height: 60px;
  }
    
  #yellMarkers {
      float: left;
      
      img {
          width: 35px;
      }
  }

  #yellCounter {
    float: right;
    margin-bottom: 10px;
    font-size: small;
    font-family: cursive;
    font-weight: bold;
    color: #2EA341;

    &.yell-too-long {
      color: #a31d14;
    }
  }

  #yellTagPanel {
    @include yell-margin();

    span.yell-tag {
      margin-right: 5px;
      padding-right: 5px;
    }

    #yellTagList {
      padding: 5px 0;
    }
  }

  #yellButtons {
    text-align: right;
    @include yell-margin();
  }
}

.yell-panel {
  padding: 0;
  border-radius: 5px;
  margin: 0 10px;

  @extend .shadow;

  div.yell-panel-content {
    padding: 5px 10px;
    margin: 0px;
    border-radius: inherit;

    //background: rgba(255, 255, 255, 0.1);

    .row {
        padding: 0;
        .columns, .column {
          padding: 0 10px;
        }
    }
  }
}

#yellsList {
    padding: 0 30px;
    margin-top: 20px;
    
  .row .yell {
    margin-bottom: 1px;
  }
}

.yell-tag {
  margin-right: 2px;
  margin-bottom: 2px;
}

.yell-picture-panel {
    position: relative;
    height: 0;
    z-index: 1;
    top: -40px;
    left: -45px;
    
    .yell-user-picture {
      width: 50px;
      border-radius: 1000 !important;
    }
}

.yell-date-panel {
    text-align: right;    

    .yell-date-span {
      position: relative;
      font-size: 10px;
      font-weight: bold;
      color: #186621;
      text-shadow: 1px 1px 1px #777;
    }
}

.yell-control-panel {
    width: 100%;
    padding: 10px 0 !important;
    margin: 0;
    
    .yell-map-container {
        width: 100%;
    }
    
    .column, .columns {
        padding: 0 !important;
    }
}

.yell-name-panel {
    font-size: smaller;
    color: #008CBA;
    font-weight: bold;
}

.yell-tags-panel {
    margin-bottom: 5px;
}

.yell-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 10;
}

.yell-overlay-content {
    position: relative;
    z-index: 11;
}

.yells-loading {
    div {
        text-align: center;
    }
}